# =======  INSTRUÇÕES PARA CONFIGURAR AS VARIAVEIS DE AMBIENTE 

# substitua os campos abaixo pelos seus dados reais e tbm renomeie esse arquivo para apenas .env para conseguir usar as variaveis

JWT_SECRET=sua_senha_super_secreta
PORT=3000

# deve possuir uma conta no mongodb atlas 
DATABASE_URL=mongodb+srv://seu_user_mongoDB_atlas:sua_senha@database.lrxvade.mongodb.net/nome_cluster?appName=database

# serviço de email
BREVO_API_KEY=sua_chave_brevo
BREVO_EMAIL=emailexemplo@gmail.com

#upload de imgs
CLOUDINARY_CLOUD_NAME=seu_nome
CLOUDINARY_API_KEY=sua_key
CLOUDINARY_API_SECRET=sua_senha_api

